.form-seach-flight-bar {
  padding: 2em 0;
  border: dashed 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar-icon {
  padding: 0.5em;
}