.select-airport-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  margin-left: 0.5em;
}

.select-airports-list {
  border: 0;
  padding: 0.7em;
}
