@import url("https://fonts.googleapis.com/css?family=Quicksand|Alegreya+Sans+SC|Bowlby+One+SC|Didact+Gothic&display=swap");

@import url("./components/Main/style.css");
@import url("./components/Main/SearchFlightContainer/style.css");
@import url('./components/Main/SearchFlightContainer/FlightsTable/Loading/style.css');
@import url('./components/Main/SearchFlightContainer/FlightsTable/style.css');

/* 
Font config:
  titles: 'Quicksand'
  text: 'Didact Gothic'
  buttons: 'Alegreya Sans SC'
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
}

html {
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", cursive;
}

p,
span {
  font-family: "Didact Gothic", sans-serif;
}

button {
  font-family: "Alegreya Sans SC", sans-serif;
  letter-spacing: 0.2em;
}
